.home-card{
    border:2px solid red;
    background-color: lightblue;
    color:blueviolet;
}
.home-list{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0%;
    flex-wrap: wrap;
}
.home-item{
    border:2px solid pink;
    background-color: pink;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width:400px;
    height: 400px;
}